@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #353d4a;
}

.lab-intro-text-overflow-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 두 줄로 제한 */
}

.fade-in {
  animation: fadeIn 3s;
  -moz-animation: fadeIn 3s; /* Firefox */
  -webkit-animation: fadeIn 3s; /* Safari and Chrome */
  -o-animation: fadeIn 3s; /* Opera */
}

.fade-in-fast {
  animation: fadeIn 0.25s;
  -moz-animation: fadeIn 0.25s; /* Firefox */
  -webkit-animation: fadeIn 0.25s; /* Safari and Chrome */
  -o-animation: fadeIn 0.25s; /* Opera */
}

.bright-in {
  animation: brightIn 3s;
  -moz-animation: brightIn 3s; /* Firefox */
  -webkit-animation: brightIn 3s; /* Safari and Chrome */
  -o-animation: brightIn 3s; /* Opera */
}

.box-shadow {
  box-shadow: 0.25px 1px 1px rgb(255, 255, 255);
  transition: box-shadow 0.325s;
}

.box-shadow:focus,
.box-shadow:hover {
  box-shadow: 0.25px 1px 1px 0 rgba(0, 0, 0, 0.2),
    0.25px 1px 4px 0 rgba(0, 0, 0, 0.19);
}

/* uiw markdown(Editor) CSS */
.md-editor {
  margin: 0.25rem;
}

.md-editor blockquote {
  padding: 1rem 1.75rem !important;
  border-left: 0.25rem solid #2fc27b !important;
  background-color: #fafcfe;
}

/* uiw markdown(Preview) CSS */
.markdown-preview {
  letter-spacing: 0.04rem;
}

.markdown-preview ul {
  list-style-type: disc;
}

.markdown-preview blockquote {
  padding: 1rem 1.75rem !important;
  border-left: 0.25rem solid #2fc27b !important;
  background-color: #fafcfe;
}

/* Normal CSS */
.lecture-info-box-shadow {
  box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 0.09);
}

.lecture-info-box-shadow:hover {
  transform: translateY(-5px);
  box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 0.2);
}

/* --------------- */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* --------------- */

@keyframes brightIn {
  from {
    filter: brightness(80%);
  }
  to {
    filter: brightness(100%);
  }
}
@-moz-keyframes brightIn {
  /* Firefox */
  from {
    filter: brightness(80%);
  }
  to {
    filter: brightness(100%);
  }
}
@-webkit-keyframes brightIn {
  /* Safari and Chrome */
  from {
    filter: brightness(80%);
  }
  to {
    filter: brightness(100%);
  }
}
@-o-keyframes brightIn {
  /* Opera */
  from {
    filter: brightness(80%);
  }
  to {
    filter: brightness(100%);
  }
}
